<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Add Job</h2>
        <form #jobForm="ngForm" (ngSubmit)="submitForm(jobForm)">
          <div class="form-group">
            <label>PostName:</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="job.postName" required>
          </div>
          <div class="form-group">
            <label>Short Name For Job :</label>
            <input type="text" name="shortName" class="form-control" [(ngModel)]="job.postShortName" required>
          </div>
          <div class="form-group">
            <label>Number of posts :</label>
            <input type="number" name="totalPost" class="form-control" [(ngModel)]="job.totalPost" required>
          </div>
          <div class="form-group">
            <label>Advertisement No :</label>
            <input type="text" name="advtNo" class="form-control" [(ngModel)]="job.advtNo" required>
          </div>
          <div class="form-group">
            <label>Post Link:</label>
            <input type="url" name="postLink" class="form-control" [(ngModel)]="job.postLink" required>
          </div>
          <div class="form-group">
            <label>Select Category: </label>
            <select name="categoryId" [(ngModel)]="job.categoryId" required>
                <option *ngFor="let category of dropDownCategory" selected="{{category.selected}}" value="{{category.value}}">{{category.text}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>importantLink:</label>
            <div class="border p-2">
              <label>Title:</label>
            <input type="text" name="ptitle" class="form-control" [(ngModel)]="tempPostLink.title" >
            <label>Provide Link:</label>
            <input type="url" name="plink" class="form-control" [(ngModel)]="tempPostLink.link">
            <br>
            <button class="btn-btn btn-primary" (click)="insertLink(tempPostLink)" >Insert</button>
           <br><br>
            <table class="table">
              <thead>
                <th>Title</th>
                <th>Link</th>
                <th>Action</th>
              </thead>
           <tr *ngFor="let link of importantLinks; let i = index">
             <td>{{link.title}}</td>
             <td><input type="text" value="{{link.link}}"  [disabled]="true"></td>
             <td><button class="btn btn-danger" (click)="removePostLink(i)">remove</button></td>
           </tr>
         </table>
        </div>
          </div>
          <div class="form-group">
            <label>importantDates:</label>
            <div class="border p-2">
              <label>Title:</label>
            <input type="text" name="dateTitle" class="form-control" [(ngModel)]="tempImpDate.title" >
            <label>Date or Text:</label>
            <input type="text"  name="dateText" class="form-control" [(ngModel)]="tempImpDate.dateOrText">
            <br>
            <button [disabled]="tempImpDate.title == '' || tempImpDate.dateOrText == ''"  class="btn-btn btn-primary" (click)="insertDate(tempImpDate)" >Insert</button>
           <br><br>
            <table class="table">
              <thead>
                <th>Title</th>
                <th>Date Or Text</th>
                <th>Action</th>
              </thead>
           <tr *ngFor="let impDate of importantDates; let i = index">
             <td>{{impDate.title}}</td>
             <td><input type="text" value="{{impDate.dateOrText}}"  [disabled]="true"></td>
             <td><button class="btn btn-danger" (click)="removePostDate(i)">remove</button></td>
           </tr>
         </table>
        </div>
          </div>
          <!-- <div class="form-group">
            <label>Post Link:</label>
            <input type="url" name="postLink" class="form-control" [(ngModel)]="job.postLink" required>
          </div> -->
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" [(ngModel)]="job.description"></textarea>
  
          </div>
          <div class="form-group">
            <label>applicationStartDate:</label>
            <input type="date" name="applicationStartDate" class="form-control" [(ngModel)]="job.applicationStartDate" required>
          </div>
          <div class="form-group">
            <label>applicationLastDate:</label>
            <input type="date" name="applicationLastDate" class="form-control" [(ngModel)]="job.applicationLastDate" required>
          </div>
          <div class="form-group">
            <label>applicationLastDateOfFee:</label>
            <input type="date" name="applicationLastDateOfFee" class="form-control" [(ngModel)]="job.applicationLastDateOfFee" required>
          </div>
          <editor name="otherDetailsEditor" apiKey="dq80qevm0a7i5y808hqjzvvj6d9veejiy9vwoxh4l7w79hxd"  [(ngModel)]="job.otherDetails" 
          [init]="{
            menubar: true,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount'
            ],
            toolbar:
              'undo redo | formatselect | bold italic backcolor | \
              alignleft aligncenter alignright alignjustify | \
              bullist numlist outdent indent | removeformat | help'
          }"
          ></editor>
          <span [innerHTML]="job.otherDetails | safeHTML"></span>
          
          <div class="form-group">
            <button type="submit" [disabled]="!jobForm.valid" class="btn btn-success">Submit</button>
           </div>
        </form>
      </div>
      
    </div>
  </div>
  
  