<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>NewSarkariExam</span>
    </mat-toolbar>
   lsdflksdlfksdf
   sdfkls
   sdfklssdfkjsd 
  </mat-sidenav-content>
</mat-sidenav-container> -->


<div class="container">
  <div class="row">
    <div class="col-sm p-1">
      <div class="card" >
        <div class="card-body">
          <p class="card-text">Add and List Out Job Categories.</p>
          <a [routerLink]="['../add-jobcategory']" class="card-link">Add Category</a>
          <a [routerLink]="['../category-list']" class="card-link">Category List</a>
        </div>
      </div>
    </div>
    <div class="col-sm p-1">
      <div class="card" >
        <div class="card-body">
          <p class="card-text">Add and List Out Jobs.</p>
          <a [routerLink]="['../add-job']" class="card-link">Add Job</a>
          <a [routerLink]="['../job-list']" class="card-link">Job List</a>
        </div>
      </div>
    </div>
    <div class="col-sm p-1">
      <div class="card" >
        <div class="card-body">
          <p class="card-text">Add and List Out Job Categories.</p>
          <a [routerLink]="['../add-result']" class="card-link">Update Result</a>
          <a [routerLink]="['../result-list']" class="card-link">Result List</a>
        </div>
      </div>
    </div>
    <div class="col-sm p-1">
      <div class="card" >
        <div class="card-body">
          <p class="card-text">Add and List Out Job Categories.</p>
          <a [routerLink]="['../add-result']" class="card-link">Update Result</a>
          <a [routerLink]="['../result-list']" class="card-link">Category List</a>
        </div>
      </div>
    </div>
  </div>
</div>