<ngx-spinner></ngx-spinner>
<header>
  <div class="container">
         <div class="jumbotron mb-0">
             <h1>SarkariNewExam</h1>
             <p>Get Latest Information about gorvernment job/</p>
           </div>
           <nav class="navbar navbar-expand-lg   bg-dark navbar-dark sticky-top">
             <!-- <a class="navbar-brand" href="#">Home</a> -->
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
           
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                   <a class="nav-link" [routerLink]="['']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" [routerLink]="['/admitcards']" routerLinkActive="router-link-active" >Admin Cards</a>
                 </li>
                 <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/results']" routerLinkActive="router-link-active" >Results</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/answer-keys']" routerLinkActive="router-link-active" >Answer Keys</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/other-jobs']" routerLinkActive="router-link-active" >Other Jobs</a>
                </li>
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     All Jobs
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="#">Job1</a>
                     <a class="dropdown-item" href="#">Job2</a>-->
                     <!-- <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Something else here</a> -->
                   <!-- </div>
                 </li>  -->
                 <!-- <li class="nav-item">
                   <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Login</a>
                 </li> -->
               </ul>
               <!-- <form class="form-inline my-2 my-lg-0">
                 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               </form> -->
               <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-link "  [routerLink]="['/user/login']"  >{{btnTxt}}</button></li>
              </ul>
             </div>
           </nav>
     </div>
 </header>
 
 <router-outlet></router-outlet>

 <section>
     <footer class=" bg-dark text-white container" id="footer"> 
         <div class="row">
             <div class="col-sm-6 col-md-6">
                 <div class="row">
                     <div class="col-sm-3 footer-font pr-0">
                         Privacy Policy
                     </div>
                     <div class="col-sm-3 footer-font pr-0">
                         Home
                     </div>
                     <div class="col-sm-3 footer-font pr-0">
                         About
                     </div>
                     <div class="col-sm-3 footer-font pr-0">
                         ContactUs
                     </div>
                 </div>
             </div>
             <div class="col-sm-6 col-md-12">
                 <div class="row">
                     <div class="col-md-6">
                         Developed and Designed By:Mahipal
                     </div>
                     <div class="col-md-6">
                         
                     </div>
                 </div>
             </div>
         </div>
     </footer>
 </section>
 