<section>
    <div class="container">
        <!-- <div class="row p-2">
            <div class="col-md-4">
                <div class="card m-2">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card m-2">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card m-2">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div> -->
    </div>
</section>
<section>
    <div class="container">
        <div class="row p-2">
            <div class="col-md-4">
                <div class="card border-danger mb-2" >
                    <div class="card-header bg-danger  text-white">
                      <h3>Latest Jobs</h3>
                    </div>
                    <ul class="list-group list-group-flush" [ngClass]="{'full-height' : isDesktop}">
                      <li class="list-group-item  pointer btn-link" *ngFor='let job of jobs'><a href="#" [routerLink]="['all-jobs',job.category.replaceAll(' ','-'),job.postName.replaceAll(' ','-')]"> {{job.postName}}</a></li>
                    </ul>
                    <div class="card-body">
                      <a [routerLink]="['/all-jobs']" routerLinkActive="router-link-active"  class="card-link">All Jobs &#8594; </a>
                    </div>
                  </div>
                  
            </div>
            <div class="col-md-4">
                <div class="card border-danger  mb-2"  >
                    <div class="card-header bg-danger  text-white">
                      <h3>admit cards</h3>
                    </div>
                    <ul class="list-group list-group-flush" [ngClass]="{'full-height' : isDesktop}">
                      <li class="list-group-item">Comming Soon</li>
                    </ul>
                    <div class="card-body">
                      <!-- <a [routerLink]="['/admitcards']" routerLinkActive="router-link-active"  class="card-link">All Admit Cards &#8594; </a> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card border-danger  mb-2" >
                    <div class="card-header bg-danger  text-white">
                      <h3>Results</h3>
                    </div>
                    <ul class="list-group list-group-flush"  [ngClass]="{'full-height' : isDesktop}">
                      <li class="list-group-item">Comming Soon</li>
                    </ul>
                    <div class="card-body">
                      <!-- <a [routerLink]="['/results']" routerLinkActive="router-link-active"  class="card-link">All Results &#8594; </a> -->
                    </div>
                  </div>
            </div>
            <!-- <div class="col-md-4">
              <div class="card border-danger mb-2">
                  <div class="card-header bg-danger  text-white">
                    <h3>Latest Notifications</h3>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <div class="card-body">
                      <a href="#" class="card-link">All Notifications &#8594; </a>
                    </div>
                </div>
                
          </div> -->
        </div>
    </div>
</section>