

<!-- <div class="container text-center">
    <div class="panel-group">
        <div class="row">
            <div class="col-sm-6 " style="padding:1%">
                <div class="panel panel-default">

                    <div class="panel-heading  text-center"> <b>Category Module</b></div>

                    <div class="panel-body">
                        <a class=" btn btn-primary " style="margin:1%; ">
                            Add New Category
                        </a>
                        <a class="btn btn-primary " style="margin:1%;">
                            Category List
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" style="padding:1%">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Job Module</b></div>


                    <div class="panel-body">
                        <a class="btn btn-primary" style="margin:1%;">
                            Add Job
                        </a>
                        <a class="btn btn-primary" style="margin:1%;">
                            Job List
                        </a>
                    </div>


                </div>
            </div>
            <div class="col-sm-6" style="padding:1%">
                <div class="panel panel-default">
                    <div class="panel-heading">Admit Cards Module</div>


                    <div class="panel-body">
                        <a class="btn btn-primary"  style="margin:1%;">
                          Add
                        </a>
                       
                    </div>


                </div>
            </div>
        </div>

    </div>
 

</div> -->
    <div class="container">

<div class="row">
<div class="col-lg-9">
    <router-outlet></router-outlet>
</div>
<div class="col-lg-3 p-3">
    <ul class="list-group">
      <li class="list-group-item"><a class="btn btn-default" [routerLink]="['./menu']"><b>Dashboard</b></a></li>
      <li class="list-group-item"><a class="btn btn-default" [routerLink]="['./category-list']"><b>Categories</b></a></li>
      <li class="list-group-item"><a class="btn btn-default" [routerLink]="['./add-jobcategory']"><b>Add New Category</b></a></li>
      <li class="list-group-item"><a class="btn btn-default" [routerLink]="['./add-job']"><b>Add New Job</b></a></li>
      <li class="list-group-item"><a class="btn btn-default" [routerLink]="['./job-list']"><b>Jobs</b></a></li>
      <li class="list-group-item"><a class="btn btn-default" [routerLink]="['./add-result']"><b>Update Result</b></a></li>
      <li class="list-group-item"><a class="btn btn-default" [routerLink]="['./add-result']"><b>Update Answer Key</b></a></li>
    </ul>
    
  </div>
</div>

</div>