

<!-- <div class="container text-center">
    <div class="panel-group">
        <div class="row">
            <div class="col-sm-6 " style="padding:1%">
                <div class="panel panel-default">

                    <div class="panel-heading  text-center"> <b>Category Module</b></div>

                    <div class="panel-body">
                        <a class=" btn btn-primary " style="margin:1%; ">
                            Add New Category
                        </a>
                        <a class="btn btn-primary " style="margin:1%;">
                            Category List
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" style="padding:1%">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Job Module</b></div>


                    <div class="panel-body">
                        <a class="btn btn-primary" style="margin:1%;">
                            Add Job
                        </a>
                        <a class="btn btn-primary" style="margin:1%;">
                            Job List
                        </a>
                    </div>


                </div>
            </div>
            <div class="col-sm-6" style="padding:1%">
                <div class="panel panel-default">
                    <div class="panel-heading">Admit Cards Module</div>


                    <div class="panel-body">
                        <a class="btn btn-primary"  style="margin:1%;">
                          Add
                        </a>
                       
                    </div>


                </div>
            </div>
        </div>

    </div>
 

</div> -->
    
   
<router-outlet></router-outlet>



