<div class="container">
    <div class="row">
        <div class="col-md-8 pt-2">
            <div class="card border-danger  mb-2">
                <div class="card-header bg-danger  text-white">
                    <h3>Notifications</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item pointer btn-link">Cras justo odio   <span class="badge badge-pill badge-info">18-08-2020</span></li>
                    <li class="list-group-item pointer btn-link">Dapibus ac facilisis in   <span class="badge badge-pill badge-info">18-08-2020</span></li>
                    <li class="list-group-item pointer btn-link">Vestibulum at eros    <span class="badge badge-pill badge-info">18-08-2020</span></li>
                </ul>
                <!-- <div class="card-body">
                    <a [routerLink]="['/results']" routerLinkActive="router-link-active" class="card-link">All Results
                        &#8594; </a>
                </div> -->
            </div>
        </div>
        <div class="col-md-4 pt-2">
            <div class="card border-danger  mb-1">
                <div class="card-header bg-danger  text-white">
                    <h5>Other Links</h5>
                </div>
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <!-- <div class="card-body">
                    <a [routerLink]="['/results']" routerLinkActive="router-link-active" class="card-link">All Results
                        &#8594; </a>
                </div> -->
            </div>
        </div>
    </div>
</div>